body{
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
    justify-content: center;
    background: rgb(0, 0, 0);
    margin: 0px;
}

.heading{
    font-size: 50px;
}


.todolistItem{
    overflow-wrap: break-word;
}

.todo_part{
    width: 450px;
    margin: 0px;
    
}

input[type=checkbox] {
    accent-color: rgb(100, 5, 189);
  }

.checkbox{
    width: 40px;
    height: 20px;
    
}

.icon{
    cursor: pointer;
    font-size: 20px;
}

.icon:hover{
    
    font-size: 23px;
}

.inputBox{
    width: 430px;
    padding: 0px;
    height: 55px;
}

.taskNumber{
    font-size: 1.3rem;
}

.iconPlus{
    width: 60px;
}

.clearAllBtn{

    width: 80px;
    height: 35px;
    font-size: 0.7rem;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
   
}


@media(max-width:900px)
{

   
    .todo_part
    {
        width: auto;
      
    }

    .inputBox
    {
        
        width: 330px;
        height: 55px;
    }

    .clearAllBtn
    {
        width: auto;
        height: auto;
    }

    .taskNumber
    {
        font-size: 1rem;
    }

    .todolistItem
    {
        overflow-wrap: break-word;
    }

    .iconPlus
    {
        width: 30px;
    }
   
}


@media(max-width:600px){

       

        .heading{
            font-size: 40px;
            text-align: center;
        }

        .todo_part{
            width: auto;
           
        }
        .taskNumber{
            font-size: 0.8rem;
        }

       
       
}

@media(max-width:450px){
 

    .todo_part{
        width: auto;
        padding: 10px;
    }
      
    .taskNumber
    {
            font-size: 1rem;
    }

    .clearAllBtn{
        margin-top: 10px;
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        margin-bottom: 10px;
        padding: 0px;
       
    }

       
}

@media(max-width:330px)
{

    body{
        padding-top: 30px;
        font-size: 15px;
    }

    .heading{
        font-size: 30px;
    }

    .icon
    {
            height: 20px;
            width: 15px;
            margin-right: 2px;
            margin: 5px;
    }

    .todo_part{
        width: auto;
        padding: 5px;
    }

    .inputBox{
        width: 260px;

    }

    .clearAllBtn{
        margin-top: 10px;
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
        margin-bottom: 10px;
        padding: 0px;
       
    }
    .taskNumber{
        margin-top:5px ;
        font-size: 0.8rem;

    }

   
}